<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
    <title>arXiv Search</title>
</head>
<body>
    <button id="dark-mode-toggle" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-block">Dark Mode</button>
    <h1>arXiv Search</h1>
    <form method="POST">
        <input type="text" name="query" placeholder="Enter your search query"> 
        <button type="submit">Search</button>
    </form>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> 
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
